@mixin button($color: green) {
  position: relative;
  display: inline-block;
  height: 24px;
  min-width: 24px;
  padding: 3px;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);

  i {
    font-size: 18px;
  }

  &:hover {
    background-color: $color-light2;
  }

  &:active,
  &.active {
    color: $color;
  }
}

@mixin clear-list() {
  list-style: none;
  margin: 0;
  padding: 0;
}
