@import "variables";
@import "mixins";

.excel__table {
  position: absolute;
  top: $header-height + $toolbar-height + $formula-height;
  left: 0;
  width: 100%;
  padding-bottom: 2px;
  // overflow-x Для того, щоб поялвилось скрол бар
  overflow-x: auto;

  .row {
    display: flex;
    min-height: 20px;
    height: $row-height;
  }

  .row-info,
  .column {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    border: 1px solid $color-border;
    height: 100%;
    border-top: none;
  }

  .column,
  .cell {
    min-width: 40px;
    width: $cell-width;
  }

  .row-info {
    position: relative;
    min-width: $info-cell-width;
  }

  .row-data {
    display: flex;
  }

  .column {
    position: relative;
    border-left: none;
  }

  .cell {
    padding: 5px;
    height: 100%;
    overflow: hidden;
    border: 1px solid #e2e3e3;
    border-top: none;
    border-left: none;
    color: #111;
    outline: none;

    &.selected {
      border: none;
      outline: 2px solid $color-primary;
      z-index: 2;
    }
  }
}
